* {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro";
}

body {
  text-align: center;
  background-color: wheat;
}

h1 {
  color: red;
  padding: 10px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li {
  padding: 10px;
}

h2 {
  color: blueviolet;
  padding: 10px;
}

h3 {
  color: yellowgreen;
  padding: 10px;
}
