::placeholder {
  text-align: center;
  font-size: 14px;
  color: purple;
  background-position: 40%;
  background-size: 6%;
  background-repeat: no-repeat;
}

body {
  background-color: #fafafa;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  background-color: #fafafa;
}

.postuserfont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: black;
}

.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: black;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}
.rightpanel {
  border: none;
}

.navbar {
  height: 54px;
  background-color: white;
}
.middlearea {
  margin-top: 100px;
  max-height: 200px !important;
}
.logo {
  margin-left: 192px;
}
.card-header,
.card-footer {
  background-color: white;
}
#sticky-sidebar {
  position: fixed;
}
